.drawer {
  // margin: 5px !important;
  // height: 100vh !important;
  // border-radius: 12px !important;
  .title {
    font-family: 'Roboto' !important;
    font-style: normal;
    font-weight: 800 !important;
    font-size: 44px !important;
    color: #FFFFFF;
  }
  .nav-active {
    // border-radius: 12px !important;
    // background-color: #767676 !important;
    // color: red !important;
  }
}